html {
  scroll-behavior: smooth;
}

.hero-header {
  position: relative;
  overflow: hidden;
}

.hero-footer {
  position: relative;
  overflow: hidden;
}

.yellow-blur-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('WatercolorYellow.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: -1;
}

.blurred-bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('WatercolorBlue.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: -1;
}

.responsive-video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  margin: 20px auto;
}

.responsive-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.css-accordion-content {
    display: none;
}

#events-toggle:checked ~ .css-accordion-content {
    display: block;
}

#events-toggle:checked + label i.fa-caret-down {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

label i.fa-caret-down {
    transition: transform 0.3s;
}

.image-behind {
    position: relative;
    z-index: 10;
}

.image-in-front {
    position: relative;
    z-index: 20; 
}
